.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1__image{
    height: 100%;
    width: 100%;
    max-width: 55rem;
}

.section1__info{
    background-color:var(--color-background);
    color: var(--text-primary);
    width: 900px; 
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.section1 .title{
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: 3rem;
    font-weight: 700;
    max-width: 80rem;
}

.section1 .texto{
    /* display: block; */
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 6rem;
}


.section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secundary);
    color: var(--text-secondary);
}

.section2__info{
    display: flex;
    flex-direction: column;
    gap: 2rem;


 
}

/* .div__sec2{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;   
} */
.section2 .title{
    color: var(--text-secondary);
    font-size: 3rem;
    font-weight: 700;
    max-width: 80rem;
}
.section2 .title span{
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 700;
    max-width: 80rem;
}

.section2 p{
    font-size: 1.8rem;   
    color: var(--text-secondary);
    font-weight: 100;
    max-width: 80rem;
}
.section2 .num{
    color: var(--text-secondary);
    font-size: 5rem;
    font-weight: 100;
    max-width: 80rem;
    
}

.section3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
}
.section3 .text{
    width: 100%; 
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: 5rem;
    font-weight: 700;
    max-width: 80%;
}
.text small{
    font-size: 3rem;
    font-weight: 100;
    display: block;
    margin-top: 2rem;
}

.tratamentos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--text-primary);
    width: 100%;
    min-width: 60rem;
    
}
.trata .teste{
    flex-direction: column;
    list-style: none;
    align-items: center;
}
.teste li a{
    text-decoration: none;

}
.teste li p{
    font-size: 4rem;
    list-style: none;
}
.teste li a{
text-decoration: none;
align-items: start;
font-size: 2.5rem;
color: var(--color-primary);
}

.trata .trata__button1 .bt__sec{
    position: absolute;
    top: 80rem;
    right: 80rem;
    border: 3px solid #73AD21;
    text-decoration: none;
    background-color: var(--color-secundary);
    color: aliceblue;
    padding: 1rem 5rem;

}