.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section1__image .pessoa{
    height: 100%;
    width: 100%;
    max-width: 50rem;
}

.section1__info{
    color: var(--text-primary);
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
    gap: 2rem;
}

.section1 .title{
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: 3rem;
    font-weight: 700;
    max-width: 40rem;
}

.section1 .texto{
    /* display: block; */
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 6rem;
    max-width: 40rem;
    text-align: end;
}


.section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secundary);
    color: var(--text-secondary);
    flex-wrap: wrap;

}

.section2__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.section2 .title{
    color: var(--text-secondary);
    font-size: 3rem;
    font-weight: 700;
    max-width: 40rem;
    text-align: left;
}
.section2 .title span{
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 700;
    max-width: 40rem;
}

.section2 p{
    font-size: 1.8rem;   
    color: var(--text-secondary);
    font-weight: 100;
    max-width: 40rem;
}
.section2 .num{
    color: var(--text-secondary);
    font-size: 5rem;
    font-weight: 100;
    max-width: 80rem;
    
}
.section2__image .pessoa{
    height: 100%;
    width: 100%;
    max-width: 50rem;
   
}

/* SECTION 3 ______________________*/

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
}
.section3 .title{
    width: 100%; 
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: 4rem;
    font-weight: 700;
    max-width: 80%;
    text-align: center;
}
.texto{
    display: block;
    color: var(--text-primary);
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 2rem;
    max-width: 80rem;
    text-align: center;
}

.tratamentos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-primary);
    width: 100%;
    min-width: 60rem;
    /* background-color: var(--color-background); */
    
}
.trata{
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.trata .title{
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 100%;

}


.trata .button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
    width: 18rem;
    height: 4rem;
    border-radius: 6rem;

  
    background-color: var(--color-secundary);
    color: var(--text-secondary);
  
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
}
.button:hover {
    background-color: var(--color-primary);  
    box-shadow: 0.1rem 0.5rem 1rem #333;
}


/* media screen --------------- */


@media screen and (max-width:800px){
.section3 .title{
    font-size: 2.8rem;
}
.texto{
    font-size: 1.6rem;   
}
.tratamentos{
    width: 100%;
    min-width: 40rem;
    justify-content: center;
    gap: 2rem;
}
.trata{

    gap: 1rem;
}
.trata img{
    width: 19rem;
    height: 19rem;
}
.trata .title{
    font-size: 1.2rem;    
}
.trata .button{ 
    width: 10rem;
    height: 3rem;
    border-radius: 4rem;

    font-size: 1.4rem;
}
}
    
@media screen and (max-width:460px){
    .section1__image .pessoa{
        max-width:500px;
        max-height:500px;
        width: auto;
        height: auto;
    }
    .section2__image .pessoa{
        max-width:500px;
        max-height:500px;
        width: auto;
        height: auto;
    }

    /*-----*/

    .section3 .title{
        
        font-size: 2.8rem;
        font-weight: 700;

    }
    .texto{
        display: block;
        color: var(--text-primary);
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 2rem;
        max-width: 80rem;
        text-align: center;
    }
    

    .tratamentos{
        margin-top: 2rem;
        width: 100%;
        min-width: 20rem;
    }
    .trata{
        gap: 1rem;
    }
    .trata img{
        width: 15rem;
        height: 15rem;
    }
  
    .trata .title{
        font-size: 1.5rem;    
    }
    
    
    .trata .button{ 
        width: 10rem;
        height: 3rem;
        border-radius: 4rem;
    
        font-size: 1.4rem;
    }
  
  }