.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section1__image{
    height: 100%;
    width: 100%;
    max-width: 50rem;
}

.section1__info{
    color: var(--text-primary);
    text-align: right;
    /* width: 80rem; 
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
    gap: 2rem;
}

.section1 .title{
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: 3rem;
    font-weight: 700;
    max-width: 60rem;
}

.section1 .texto{
    /* display: block; */
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 6rem;
    max-width: 50rem;
}


.section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secundary);
    color: var(--text-secondary);
}

.section2__info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}

/* .div__sec2{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;   
} */
.section2 .title{
    color: var(--text-secondary);
    font-size: 3rem;
    font-weight: 700;
    max-width: 80rem;
}
.section2 .title span{
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 700;
    max-width: 80rem;
}

.section2 p{
    font-size: 1.8rem;   
    color: var(--text-secondary);
    font-weight: 100;
    max-width: 80rem;
}
.section2 .num{
    color: var(--text-secondary);
    font-size: 5rem;
    font-weight: 100;
    max-width: 80rem;
    
}
.section2__image{
    height: 100%;
    width: 100%;
    max-width: 50rem;
}

.section3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
}
.section3 .title{
    width: 100%; 
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: 4rem;
    font-weight: 700;
    max-width: 80%;
    text-align: center;
}
.texto{
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 2rem;
    max-width: 80rem;
    text-align: center;
}

.tratamentos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-primary);
    width: 100%;
    min-width: 60rem;
    /* background-color: var(--color-background); */
    
}
.trata{
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.trata .title{
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 100%;

}
/* .trata a{
text-decoration: none;
text-align: left;
font-size: 2rem;
font-weight: 400;
color: var(--color-primary);
} */

.trata .button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
    width: 18rem;
    height: 4rem;
    border-radius: 6rem;

  
    background-color: var(--color-secundary);
    color: var(--text-secondary);
  
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
}
.button:hover {
    background-color: var(--color-primary);  
    box-shadow: 0.1rem 0.5rem 1rem #333;
}
