/* . HEADER ____________________*/
.slider {
  position: relative;
  width: 100%;
  height: 80vh;
}

.swiper {
  width: 100%;
  height: 100%;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}
/* SLIDER */
.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide__info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 20vw;
  display: grid;
  align-items: center;
}
.slide__info__title{
  font-family: var(--font-primary);
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  /* max-width: 50rem; */
  
}
.slide__info__text{
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 1.6rem;
}

/*________________________________________________*/


/* COUNTER ___________________*/
.counter{
background-color: var(--text-primary);
color: #fff;
margin-top: -2.4rem;
}
.container__home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    text-align: center;
    flex-wrap: wrap;
    padding: 4rem 0rem;

}
.info h3{
  font-size: 3rem;
  font-weight: 700;
}
.info h3 small{
    display: block; 
    font-size: 1.5rem;
    font-weight: 300;
}

/*_______________________________________________*/ 

/* SECTION 2 ___________________*/

.section2{
background-color: var(--color-background);
}
.container__section2{
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.image{
width: 100%;
max-width: 55rem;
}

.section2__info{
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section2__info h6{
  font-size: 1.4rem;
  font-weight: 300;
}
.section2__info .title{
  font-size: 2.5rem;
  font-weight: 700;
}
.section2__info .texto{
  font-size: 1.6rem;
  font-weight: 300;
  max-width: 40rem;
}
.section2__info .button{
    display: flex;
    justify-content: center;
    place-items: center; /*Se align-itens e justfy-itens for igual pode usar o place-itens */
    flex-shrink: 0;
  
    width: 18rem;
    height: 4rem;
    transition: all 500ms ease;

    border-radius: 6rem;
    border: none;

    background-color: var(--color-secundary);
    color: var(--text-secondary);

    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
}
.button:hover {
    background-color: var(--color-primary);  
    box-shadow: 0.1rem 0.5rem 1rem #333;
}

/*________________________________________________*/



/* QUOTE ____________________*/
.quote{
  background-image: url("../imagens/parallax-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: -2.2rem;
  
}
.quote__container {
  display: grid;
  align-items: center;
  justify-items: end;
  min-height: 80vh;
}

.quote__content {
  background: var(--color-background);
  color: var( --color-secundary);
  padding: 8rem 8rem;
  border-radius: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.quote__content h6 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  max-width: 24rem;
}

.quote__content h2 {
  font-size: 4.8rem;
  font-weight: 700;
  width: 100%;
  max-width: 50rem;
}

.quote__content h2 span {
  display: block;
  color: var(--color-primary);
  margin-top: -1.6rem;
}

.quote__content a {
  width: 17rem;
  height: 5rem;
  transition: all 500ms ease;

  display: flex;
  place-items: center;
  justify-content: center;

  border-radius: 8rem;
  border: solid 0.2rem #fff;

  background: var(--color-primary);
  color: var(--color-terc);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.quote__content a:hover {
  background: var(--color-secondary);
  color: var(--text-primary);
  box-shadow: 0.1rem 0.5rem 1rem #333;
}

/*________________________________________________*/

/* CAROUSEL____________________*/

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  
  .carousel__viewport::-webkit-scrollbar {
    width: 0;
  }
  
  .carousel__viewport::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .carousel__viewport::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  /* * {
    -ms-overflow-style: none;
  } */
  
  
  .carousel {
    position: relative;
    padding-top: 60rem;
    perspective: 10rem;
    height: 80vh;
    color: #fff;
    /* filter: drop-shadow(0 0 10px #0003);  deixa um fundo sombreado*/
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    /* background-color: #f99; */
  }
  
  /* .carousel__slide:nth-child(even) {
    background-color: #99f;
  }  usaria para revesar a cor de background com o de cima*/ 
  
  .carousel__slide:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
   
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: 2;
    }
  
}

  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 8rem;
    transform: translateY(-50%);
    /* border-radius: 50%; */
    outline: 0;
  }
  
  .carousel::after,
  .carousel__next {
    right: 1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-size: 5rem 5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("../imagens/icons/voltar.png");
  }
  .carousel::after {
    background-image: url("../imagens/icons/avançar.png");
}

/* media screen --------------- */

@media screen and (max-width:800px){

.slide__info__title {
    font-size: 3rem;
    max-width:  50rem;
}
.slide__info__text {
  font-size: 1.8rem;
  max-width:  50rem;
}

.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

}
.image{
  display:none
}
.section2__info .title small{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: -1.4rem;
}

.section2__info .title{
font-size: 3rem;
text-align: center;

}
.section2__info .texto{
  font-size: 1.4rem;
  text-align: center;
 }

.section2__info .button{
   width: 12rem;
  height: 2.8rem;
  border-radius: 4rem;

  font-size: 1.6rem;
  font-weight: 300;
}

.carousel::before,
.carousel::after {
  background-size: 3rem 3rem;
}



}
  
  @media screen and (max-width:460px){

    .slide__info__title {
      font-size: 3rem;
      max-width:  30rem;
  }
  .slide__info__text {
    font-size: 1.8rem;
    max-width:  30rem;
  }

  .container__home{
    display: grid;
    grid-template-columns: none;
    text-align: center;
    flex-wrap: wrap;
    padding: 4rem 0rem;

}
.info{
  padding: 3rem;
}
}